p {
  width: 100%;
  color: dimgrey;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  word-break: break-word;
}
.content-wrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;
  padding: 0 30px;
  margin: 30px auto 0;
  box-shadow: 0 3px 7px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.25);
}
.separate-line {
  border-bottom: 1px solid gainsboro;
}
.link {
  cursor: pointer;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
