:host{
  display: flex;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
}
#pagination{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 20px;
  font-size: 1.5rem;
}
#news-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 50%;
  box-shadow: 0 3px 7px rgba(0,0,0,0.15), 0 1px 3px rgba(0,0,0,0.25);
}
#news-content{
  padding: 10px;
  /*height: 80px;*/
  width: 100%;
  text-align: center;
  border-bottom: 1px solid lightgray;
}
.nav-btn{
  margin: 0 10px;
  cursor: pointer;
}
