h4 {
  display: inline-block;
  margin-bottom: 0;
}
p {
  font-family: Microsoft Yahei, serif;
  font-weight: 500;
}
small {
  margin-left: 10px;
  color: dimgrey;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  word-break: break-word;
}
.separate-line {
  border-bottom: 1px solid gainsboro;
}
.comment-wrapper {
  margin-left: 40px;
}
.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
.toggle {
  display: flex;
  justify-content: flex-end;
  color: dimgrey;
  margin-bottom: 20px;
}
