<ul id="header-container">
  <li id="hn-logo" routerLink="/"></li>
  <li>
<!--    'top' is default category-->
    <a class="menu-item" routerLink="/topstories" routerLinkActive="active">
      Top
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/newstories" routerLinkActive="active">
      New
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/askstories" routerLinkActive="active">
      Ask
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/showstories" routerLinkActive="active">
      Show
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/jobstories" routerLinkActive="active">
      Jobs
    </a>
  </li>
</ul>
