#header-container {
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  background: rgb(200,50,50);
  font-size: 1.25rem;
  list-style: none;
  margin: 0;
}
#hn-logo{
  width: 40px;
  height: 40px;
  background: url("../../../assets/logo_HN.png") no-repeat center/cover;
  cursor: pointer;
  margin-left: 25%;
}
.menu-item{
  margin-left: 10px;
  text-decoration: none;
  color: white;
}
.active{
  font-weight: bolder;
}
