<ul id="header-container">
  <li id="hn-logo" routerLink="/"></li>
  <li>
<!--    'top' is default category-->
    <a class="menu-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Top
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/" [queryParams]="{category: 'new'}" routerLinkActive="active">
      New
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/" [queryParams]="{category: 'ask'}" routerLinkActive="active">
      Ask
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/" [queryParams]="{category: 'show'}" routerLinkActive="active">
      Show
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/" [queryParams]="{category: 'jobs'}" routerLinkActive="active">
      Jobs
    </a>
  </li>
</ul>
