<ul id="header-container">
  <li id="hn-logo" routerLink="/"></li>
  <li>
<!--    'top' is default category-->
    <a class="menu-item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      Top
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/" [queryParams]="{category: 'newstories'}"
       routerLinkActive="active">
      New
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/" [queryParams]="{category: 'askstories'}"
       routerLinkActive="active">
      Ask
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/" [queryParams]="{category: 'showstories'}"
       routerLinkActive="active">
      Show
    </a>
  </li>
  <li>
    <a class="menu-item" routerLink="/" [queryParams]="{category: 'jobstories'}"
       routerLinkActive="active">
      Jobs
    </a>
  </li>
</ul>
